/*HEADER ==========*/

header {
    width: 100%;
    background: #DC0A2B;

    display: flex;
    flex-direction: column;
    align-items: center;
}

header img {
    width: 50vw;
    max-width: 300px;
    
    margin: 32px 0 38px 0;
}

header input {
    width: 80vw;
    max-width: 550px;

    background: #AE0F28;
    
    border: none;
    border-radius: 16px;
    outline: none;

    padding: 12px 22px;

    color: white;
    font-family: "Roboto";
    font-size: 18px;

    margin-bottom: 80px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(255, 255, 255, 0.5);
    opacity: 1; /* Firefox */
}
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgba(255, 255, 255, 0.5);
}
  
::-ms-input-placeholder { /* Microsoft Edge */
    color: rgba(255, 255, 255, 0.5);
}

/*MAIN ==========*/

main {
    margin-top: -48px;
    padding-bottom: 70px;

    display: flex;
    justify-content: center;
}

.pokemons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    gap: 22px;
}

.pokemon {
    width: 279px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: white;
    border: 1px solid #CACACA;
    border-radius: 20px;

    padding: 32px 0px;

    transition: 0.5s;
}
.pokemon:hover {
    transform: scale(1.05);
}
.pokemon img {
    width: 200px;
}
.pokemon span {
    margin: 18px 0 8px 0;
    color: #929292;

    font-weight: 700;
}
.pokemon h1 {
    margin-bottom: 20px;

    color: #232323;
    font-size: 2.3rem;
}
.pokemon h1::first-letter {
    text-transform: capitalize;
}
.pokemon .types {
    display: flex;
}
.pokemon .types div {
    padding: 4px 18px;

    border-radius: 20px;

    margin: 0px 4px;
}
.pokemon .types p::first-letter {
    text-transform: capitalize;
}

/*FOOTER ==========*/

footer {
    width: 100%;

    padding: 10px 0;
    margin-top: 10px;

    text-align: center;

    background: #b8b8b8;
    color: #232323;

    position: absolute;
    bottom: 0;
}
footer p {
    opacity: 0.6;
    font-weight: 400;
}
footer span {
    font-weight: 700;
}
footer span:hover {
    color: white;
}
footer a {
    color: #232323;
    font-weight: 700;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}


.invisible {
    display: none !important;
}