.steel {
	background-color: #9eb7b8;
}

.fire {
	background-color: #fd7d24;
	color: white;
}

.grass {
	background-color: #9BCC50;
}

.electric {
	background-color: #eed535;
}

.water, .ice {
	background-color: #4592c4;
	color: white;
}

.ground {
	background-color: #f7de3f;
}

.rock {
	background-color: #a38c21;
}

.fairy {
	background-color: #fdb9e9;
}

.poison {
	background-color: #5E2D6C;
	color: white;
}

.bug {
	background-color: #729f3f;
}

.dragon {
	background-color: #53a4cf;
}

.psychic {
	background-color: #f366b9;
}

.flying {
	background-color: #3dc7ef;
}

.fighting {
	background-color: #d56723;
	color: white;
}

.normal {
	background-color: #a4acaf;
}